image: node:12-buster-slim

stages:
  - build

cache:
  paths:
    - node_modules/

build-pwa:
  stage: build
  script:
    - npm install
    - npm install -g @quasar/cli
    - quasar build -m pwa
  artifacts:
    paths:
      - dist/

pages:
  stage: deploy
  script:
    - cp -a dist/pwa public